<IfModule mod_rewrite.c>
RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{HTTP_HOST} ^myphp\.com\\mymgt$ [NC]
RewriteRule ^(.*)$ index.php [PT,L]
</IfModule>
